/* GENERAL */
a, a:focus, a:hover {
	color: #900909;
}

.help-block { margin: 0px; }

.info { margin:20px 0 10px; display:block; font-style:italic; }

.sidebar ul li a.active {
	background: transparent;
}

.sidebar li>a { padding-top:15px; padding-bottom:15px; }

.sidebar a { color:#555; }
.sidebar a i { color:#900909; }
.sidebar a:hover { color:#fff; }
.sidebar a:hover i { color:#fff; }

.navbar-toggle { float:left; margin-left:0px; margin-right:0; }

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}

.clear {
	clear: both;
}

.navbar .container-fluid {
	padding: 7px;
}

.navbar .container-fluid .report {
	float: right;
}

.checkbox, .radio {
	width: 34px;
}

.tagselect {
	width: 100%;
	visibility: hidden;
}

.error {
	font-size: 18px;
	margin: 20px auto 20px;
}

.createForm {
	margin-top: 30px;
}

.userinfo {
	margin-top: 5px;
	margin-right: 50px;
	text-align: right;
}

.userinfo .btnlink {
	border: 0px none;
	background: transparent;
	color: #555;
	padding: 0px;
}

.userinfo .btnlink:hover {
	cursor: pointer;
	color: #900909;
	text-decoration: underline;
}

.username {
	color: #900909;
}

.userrole {
	color: #aaa;
	margin-left:5px;
}

.navbar form {
	display: inline;
}

.navbar a:hover { text-decoration:none; }


.btn { background:#fff; }

.btn:hover { background:#fff; }

.btn-primary {
	background: #555;
	border-color: #555;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled:active:focus,
.btn-primary.disabled:active:hover {
	background-color: #900909;
	border-color:#555;
}

.btn:hover, .btn:focus, .form-control:focus {
	border-color: #900909;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(144, 9, 9, .6);
}

legend, h1 { color:#900909; }

/* LOGIN */

.login input {
	margin-bottom: 10px;
}

/* DASHBOARD */
.dashboard .projcon {
	margin-left: 0px;
}

/* NOTES */
#notewrapper .note h3 {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 25px;
	max-width: 300px;
	word-break: break-all;
	margin-top: 30px;
}

#notewrapper .note {
	background: #ff9;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(136, 136, 136, 1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(136, 136, 136, 1);
	box-shadow: 3px 3px 5px 0px rgba(136, 136, 136, 1);
	padding: 20px;
	margin: 20px;
	float: left;
	position: relative;
}

#notewrapper .note a {
	position: absolute;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	right: 10px;
	top: 10px;
}

#notewrapper .note p {
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
	width: 300px;
	height: 250px;
	background: transparent;
	border: 0px none;
}

#notewrapper .note .edit {
	position: absolute;
	right: 35px;
	color: #888;
}

#notewrapper .note .delete {
	position: absolute;
	right: 10px;
	color: #f88;
}

#notewrapper .note .globe {
	position: absolute;
	left: 15px;
	color: #39f;
}

#notewrapper .note .author {
	position: absolute;
	left: 50px;
	top: 10px;
	color: #aaa;
}

#notewrapper .note .edit:hover {
	color: #333;
}

#notewrapper .note .delete:hover {
	color: #f33;
}

/* PROJECTS */
.projectcontainer {
	position: relative;
}

.projcheck {
	position: absolute;
}

.projcon {
	margin-left: 40px;
}

/* FORUM */
.post .author {
	display: block;
	color: #fff;
}

.post {
	border-top: 5px solid #555;
	border-right: 5px solid #555;
	margin-bottom: 20px;
	position:relative;
}

.post img {
	padding: 10px;
	border: 1px solid #000;
	text-align: center;
	margin-top: 10px;
	background: #fff;
}

.post_left {
	background: #555;
	width:132px;
	position:absolute;
}

.post_left form { display:inline; }
.post_left a { color:#555; }

.post_left .buttons { text-align:center; }

.post_right {
	width:90%;
	margin-left:132px;
	min-height:206px;
}

.post_right h3 {
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bold;
}

.post_right p {
	font-size: 18px;
	margin-left: 20px;
}

.post_right .anchor {
	position: absolute;
	top: -1px;
	right: -1px;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	-webkit-border-radius: 0 0 0 10px;
	-moz-border-radius: 0 0 0 10px;
	border-radius: 0 0 0 10px;
	display:block;
	color:#000;
	background:#555;
	font-weight:bold;
	color:#fff;
}

.post_right .anchor:hover { text-decoration:none; background:#900909; }

.post div {
	padding: 5px;
}

.search { float:right; }
.search input[type=text] { width:100px; display:inline; }

/* ADMIN */
.profilepic {
	width: 100px;
}

.users .name h2 { display:inline; }
.users .editdelete { text-align:right; }
.users a:hover { text-decoration:none; }